*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
.wrapper {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: Verdana, sans-serif;
  background-color: #81C3D7;
  color: #2F6690;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
background-color: #D9DCD6;
padding: 3rem;
border-radius: 1rem;
border: 2px solid #16425B;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}

input[type=range] {
  accent-color: #3A7CA5;
}

.pw-display i {
  align-items: right;
}

.form-container {
  display: grid;
  grid-template-columns: auto auto;
  row-gap: 1rem;
  column-gap: 3rem;
  justify-content: center;
  align-items: center;
}

.main-title {
  margin: 0;
  text-align: center;
}

label {
  font-weight: bold;
}

.char-amount-container {
  display: flex;
  align-items: center;
}

.number-input {
  width: 2.3rem;
}

.pw-display {
  background-color: #81C3D7;
  color: #16425B;
  padding: 1rem;
  height: 4rem;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  word-break: break-all;
  border-radius: .5rem;
  margin: 1rem;

}

#passwordDisplay {
  width: 90%;
  text-align: center;
}

div.pw-display button{
  position: right;
  scale: 1.75;
  background-color: transparent;
  border: none;
  color: #3A7CA5;
  cursor: pointer;
  height: 100%;
}

#copyAlert {
  visibility: hidden;
  margin: 1rem;
}

#copyAlert.show {
  visibility: visible;
}

div.pw-display button:hover {

color: #16425B;

}

.btn {
  grid-column: span 2;
  background-color: #16425B;
  border: 2px solid #D9DCD6;
  color: #D9DCD6;
  padding: .5rem 1rem;
  font-weight: bold;
  cursor: pointer;
  border-radius: 1rem;
  margin: .5rem;
}

.btn:hover {
  background-color: #3A7CA5;
}



@media (max-width: 690px) {
  .btn {
    font-size: 1rem;
    margin: 16px 0px 0px 0px;
    padding: 10px 15px;
  }

  #password {
    font-size: 1rem;
  }
}

@media (max-width: 500px) {
  .btn {
    font-size: 0.8rem;
  }
}
